# ==========================
# Node.js
# ==========================
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# ==========================
# Build Output
# ==========================
dist/
build/
coverage/

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ==========================
# Decky
# ==========================
*.zip

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment
# ==========================
.env
.env.local
